.header-mobile__avatar,
.header-mobile__liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-accueil, .header-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
.header-mobile__avatar__photo {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Shadow 3dp */
/* Shadow 4dp */
header {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2f7fa;
}

section {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section-accueil {
  min-height: calc(100vh - 64px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 800px) {
  .section-accueil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-accueil__box-woman {
  height: calc(100vh - 64px);
  width: 40%;
  background: grey;
  margin: 0 8px;
}

.section-accueil__box-text {
  height: calc(100vh - 64px);
  width: 40%;
  background: lightgrey;
  margin: 0 8px;
}

.section-cards {
  background: #36b3a2;
}

.section-cards__text {
  text-align: center;
  height: 150px;
  width: 90%;
  background: lightgrey;
}

.section-cards__cards {
  height: 800px;
  width: 90%;
  background: grey;
}

.section-about__text {
  height: 800px;
  width: 90%;
  background: lightgrey;
}

.section-about__diplomes {
  height: 400px;
  width: 90%;
  background: grey;
}

.section-whyme {
  background: #36b3a2;
}

.section-whyme__text {
  height: 400px;
  width: 90%;
  background: lightgrey;
}

.section-cta__text {
  height: 200px;
  width: 90%;
  background: grey;
}

.section-cta__icone {
  height: 100px;
  width: 90%;
  background: lightgrey;
}

.navbar-mobile {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: -490px;
  left: 0;
  background: #36b3a2;
  -webkit-transition: all 1s 0.4s ease-out;
  transition: all 1s 0.4s ease-out;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
}

.navbar-mobile__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.navbar-mobile__bloc1,
.navbar-mobile__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-mobile__photo {
  min-width: 132px;
  min-height: 132px;
  margin: 16px;
  border-radius: 50%;
  background-image: url(/images/img-profil-joelle.jpg);
  background-position: center;
  background-size: cover;
}

.navbar-mobile__name {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #fcfcff;
  text-align: center;
}

.navbar-mobile__ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-mobile__li a {
  text-align: center;
  display: block;
  color: #fcfcff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.navbar-mobile__plume {
  height: 56px;
  width: 56px;
  margin: 8px 0 16px 0;
}

.navbar-mobile.active-menu-deroulant {
  -webkit-transition: all 1s 0.6s ease-in-out;
  transition: all 1s 0.6s ease-in-out;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(554px);
          transform: translateY(554px);
}

.navbar-mobile__container.active-menu-deroulant {
  opacity: 1;
  -webkit-transition: opacity 0.4s 1.4s ease-in-out;
  transition: opacity 0.4s 1.4s ease-in-out;
}

header {
  height: 64px;
  width: 100%;
  background: #36b3a2;
  position: fixed;
  z-index: 100;
}

.header-burger {
  height: 48px;
  min-width: 48px;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  z-index: 110;
}

@media screen and (min-width: 800px) {
  .header-burger {
    display: none;
  }
}

.burger-tiret {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.burger-tiret__ligne {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #7d3929;
  border-radius: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(1) {
  top: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(2) {
  top: 20px;
}

.burger-tiret .burger-tiret__ligne:nth-child(3) {
  top: 36px;
}

.burger-tiret.burger-tiret--anim {
  -webkit-transition: -webkit-transform 0.4s 0.4s ease-in-out;
  transition: -webkit-transform 0.4s 0.4s ease-in-out;
  transition: transform 0.4s 0.4s ease-in-out;
  transition: transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  -webkit-transform: translateY(-50%) rotate(360deg);
          transform: translateY(-50%) rotate(360deg);
}

.burger-tiret__ligne:nth-child(1),
.burger-tiret__ligne:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.burger-tiret__ligne:nth-child(2) {
  opacity: 1;
  -webkit-transition: opacity 0.1s 0.4s ease;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity 0.1s 0.4s ease;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out, -webkit-transform 0.4s 0.4s ease-in-out;
}

.header-name,
.header-profession {
  font-size: 2em;
  color: #fcfcff;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  z-index: 110;
}

@media screen and (max-width: 350px) {
  .header-name,
  .header-profession {
    font-size: 1.5em;
  }
}

.header-name {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.5s ease-in-out;
  transition: opacity 0.4s 0.5s ease-in-out;
}

.header-name.active-menu-deroulant {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-profession {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.header-profession.active-menu-deroulant {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.5s ease-in-out;
  transition: opacity 0.4s 0.5s ease-in-out;
}

.header-plume,
.header-mobile-plume {
  background-image: url(/images/plume.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header-plume {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  z-index: 110;
}

@media screen and (min-width: 800px) {
  .header-plume {
    display: none;
  }
}

.header-mobile {
  position: absolute;
  width: 100%;
  background: #36b3a2;
  top: -500px;
  z-index: 50;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 1s 0.4s ease-out;
  transition: all 1s 0.4s ease-out;
}

.header-mobile__avatar,
.header-mobile__liens {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.header-mobile__avatar__photo {
  background-image: url(/images/img-profil-joelle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  min-width: 120px;
  border-radius: 50%;
  margin: 8px 8px 16px 16px;
}

@media screen and (min-width: 350px) {
  .header-mobile__avatar__photo {
    height: 140px;
    min-width: 140px;
  }
}

.header-mobile__avatar__infos h3 {
  text-align: center;
  font-size: 2em;
  color: #fcfcff;
  font-family: "Poppins", sans-serif;
  margin-right: 8px;
  letter-spacing: 3px;
  font-weight: normal;
}

@media screen and (min-width: 350px) {
  .header-mobile__avatar__infos h3 {
    font-size: 3em;
  }
}

.header-mobile__liens li {
  display: block;
  text-align: center;
  margin: 8px 0;
}

.header-mobile__liens li a {
  color: #fcfcff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

.header-mobile-plume {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 56px;
  height: 56px;
  margin: 24px auto;
}

.header-mobile.active-menu-deroulant {
  -webkit-transition: all 1s 0.6s ease-in-out;
  transition: all 1s 0.6s ease-in-out;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(564px);
          transform: translateY(564px);
}

.header-mobile.active-menu-deroulant .header-mobile__avatar,
.header-mobile.active-menu-deroulant .header-mobile__liens,
.header-mobile.active-menu-deroulant .header-mobile-plume {
  opacity: 1;
  -webkit-transition: opacity 0.4s 1.4s ease-in-out;
  transition: opacity 0.4s 1.4s ease-in-out;
}

.header-menu {
  display: none;
}

@media screen and (min-width: 800px) {
  .header-menu {
    display: block;
  }
}

footer {
  height: 250px;
  width: 100%;
  background: #36b3a2;
}

.container {
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  top: 64px;
}

.container-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  widows: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-palette {
  height: 300px;
  width: 300px;
  margin: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box__small-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 165px;
  z-index: 9;
}

.box__big-circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 175px;
  z-index: 8;
}

.box__title {
  z-index: 10;
}

.box__title h2 {
  font-size: 32px;
  font-family: "tahoma", sans-serif;
}

.box__lien {
  margin: 8px 0 16px 0;
}

.box__lien a {
  color: black;
  text-decoration: none;
  font-family: "tahoma", sans-serif;
}

.box__button {
  /*
    width: 90px;
    height: 32px;
*/
  background: lightgrey;
  font-family: "tahoma", sans-serif;
  text-align: center;
  padding: 16px 24px;
  border-radius: 8px;
}

.box1 {
  border: 1px solid black;
  background: #d2f7fa;
}

.box1 .box__small-circle {
  background: #7d3929;
}

.box1 .box__big-circle {
  background: #36b3a2;
}

.box1 a {
  color: #7d3929;
}

.box1 .box__button {
  background: #7d3929;
  color: #fcfcff;
}

.box2 {
  background: #36b3a2;
}

.box2 .box__small-circle {
  background: #7d3929;
}

.box2 .box__big-circle {
  background: #d2f7fa;
}

.box2 a {
  color: #7d3929;
}

.box2 .box__button {
  background: #7d3929;
  color: #fcfcff;
}

.box3 {
  border: 1px solid black;
  background: #d2f7fa;
}

.box3 .box__small-circle {
  background: #7d3929;
}

.box3 .box__big-circle {
  background: #32CBFF;
}

.box3 a {
  color: #7d3929;
}

.box3 .box__button {
  background: #7d3929;
  color: #fcfcff;
}

.box4 {
  background: #36b3a2;
}

.box4 .box__small-circle {
  background: #7d3929;
}

.box4 .box__big-circle {
  background: #32CBFF;
}

.box4 a {
  color: #7d3929;
}

.box4 .box__button {
  background: #7d3929;
  color: #fcfcff;
}
/*# sourceMappingURL=style.css.map */