// BOUTON BURGER
.header__burger {
  height: 48px;
  min-width: 48px;
  cursor: pointer;
  position: absolute;
  left: 8px;
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.burger-tiret {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  transition: transform 0.4s ease-in-out;
}

.burger-tiret__ligne {
  position: absolute;
  width: 100%;
  height: 8px;
  background: $color-white;
  border-radius: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(1) {
  top: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(2) {
  top: 20px;
}

.burger-tiret .burger-tiret__ligne:nth-child(3) {
  top: 36px;
}

// ANIM

.burger-tiret.burger-tiret--anim {
  transition: transform 0.4s 0.4s ease-in-out;
  transform: translateY(-50%) rotate(360deg);
}

.burger-tiret__ligne:nth-child(1),
.burger-tiret__ligne:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

.burger-tiret__ligne:nth-child(2) {
  opacity: 1;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(2) {
  opacity: 0;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}
