section {
  width: 100%;
  @extend %flex-start-center;
  flex-direction: column;
  position: relative;
}
// ===========================
// Section Accueil
.section-accueil {
  min-height: calc(100vh - 64px);
  @extend %flex-center-start;
  flex-direction: row;
  // @include border(red);
  
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
}

.section-accueil__box-woman {
  height: calc(100vh - 64px);
  width: 40%;
  background: grey;
  margin: 0 8px;
}
.section-accueil__box-text {
  height: calc(100vh - 64px);
  width: 40%;
  background: lightgrey;
  margin: 0 8px;
}

// ===========================
// Section cards
.section-cards {
  background: $color-bcg2;
}

.section-cards__text {
  text-align: center;
  height: 150px;
  width: 90%;
  background: lightgrey
}

.section-cards__cards {
  height: 800px;
  width: 90%;
  background: grey;
}

// ===========================
// Section About
.section-about__text {
  height: 800px;
  width: 90%;
  background: lightgrey;
}

.section-about__diplomes {
  height: 400px;
  width: 90%;
  background: grey;
}

// ===========================
// Section Why Me
.section-whyme {
  background: $color-bcg2;
}
.section-whyme__text {
  height: 400px;
  width: 90%;
  background: lightgrey;
}

// ===========================
// Section Call To Action
.section-cta__text {
  height: 200px;
  width: 90%;
  background: grey;
}

.section-cta__icone {
  height: 100px;
  width: 90%;
  background: lightgrey;
}





// ===========================
// ===========================
// .section-cards {
//   // min-height: 100%;
//   @include border(blue);
// }

// .section-accueil__bloc1,
// .section-accueil__bloc2 {
//   text-align: center;
//   height: 100%;
//   width: 50%;
//   position: relative;
// }
// // Bloc personnage
// .section-accueil__bloc1 svg {
//   position: relative;
//   top: 80px;
//   left: 0;
//   height: 90%;
// }

// // Bloc Infos
// .section-accueil__bloc2 {
//   @extend %flex-full-start;
//   flex-direction: column;
//   h1 {
//     color: $color-black;
//     font-size: 3em;
//     font-family: $police-title;
//     margin: 40px 16px 24px 16px;
//   }
//   .section-accueil__bloc__location {
//     display: flex;
//     margin: 0 0 24px 0;
//     img {
//       margin: 0 4px;
//     }
//   }
//   p {
//     color: $color-black;
//     font-family: $police-text;
//     em {
//       display: block;
//       font-size: 1.5em;
//       margin: 16px;
//     }
//   }
//   .section-accueil__bloc__logo {
//     margin: 16px;
//     svg {
//       height: 120px;
//     }
//   }
//   .section-accueil__bloc__plume {
//     margin: 16px;
//     animation: plumevent 5s ease-in-out infinite;
//     svg {
//       height: 80px;
//     }
//   }
// }

// @keyframes plumevent {
//   0% {
//     transform: rotate(30deg);
//   }
//   50% {
//     transform: rotate(-50deg);
//   }
//   100% {
//     transform: rotate(30deg);
//   }
// }

// @media screen and (max-width: 800px) {
//   .section-accueil {
//     height: 100%;
//     flex-direction: column-reverse;
//   }
//   .section-accueil__bloc1,
//   .section-accueil__bloc2 {
//     width: 100%;
//   }
//   .section-accueil__bloc1 {
//     height: 60%;
//     svg {
//       height: 100%;
//       max-width: 100%;
//       bottom: 0;
//       left: 0;
//     }
//   }

//   .section-accueil__bloc2 {
//     height: 40%;
//     justify-content: center;
//     h1 {
//       font-size: 2em;
//       margin: 8px;
//     }

//     .section-accueil__bloc__location {
//       margin: 0 0 8px 0;
//     }
//     p {
//       font-size: 1em;
//       margin: 0 0 8px 0;
//       em {
//         font-size: 1em;
//         margin: 0;
//       }
//     }

//     .section-accueil__bloc__logo {
//       margin: 0;
//       svg {
//         height: 70px;
//       }
//     }

//     .section-accueil__bloc__plume {
//       position: absolute;
//       left: 75%;
//       top: 105%;
//       margin: 0;
//       svg {
//         height: 40px;
//       }
//     }
//   }
// }

// // ===========================
// // Page 2 Cards
// // ===========================

// .section-cards {
//   background: $color-bcg2;
//   @extend %flex-full-start;
//   flex-direction: column;
//   position: relative;

//   h2 {
//     color: $color-white;
//     font-family: $police-title;
//     text-align: center;
//   }
//   p {
//     color: $color-white;
//     font-family: $police-text;
//     text-align: center;
//   }
// }
