.evenement-jour{
    @extend %flex-center-center;
    margin: $marge-normal;
    padding: 24px;
    border-radius: 50%;
    background-color: $color-bcg-fonce;
    text-align: center;
    font-size: 2em;
    font-family: $police-title;
    color: $color-white;
    @extend %boxShadow4;
}

