.container-plume {
    position: absolute;
    background-image: url("images/plume-accueil.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    top: 40%;
    left: 70%;
    animation: plumevent 5s ease-in-out infinite;

    @media screen and (min-width: $break1) {
        height: 64px;
        width: 64px;
        top: 20%;
        left: 40%;
    }

    @media screen and (min-width: $break0) {
        height: 80px;
        width: 80px;
        top: 15%;
        left: 40%;
    }
}

@keyframes plumevent {
    0% {
        transform: rotate(10deg) translateX(-15px);
    }
    50% {
        transform: rotate(-40deg) translateX(15px);
    }
    100% {
        transform: rotate(10deg) translateX(-15px);
    }
}
