.page-presta__box-title {
    width: 100%;
    background-color: $color-white;
}

.page-presta__box-text {
    @extend .page-card__box-text;
    h2 {
        background-color: $color-blue;
        border-radius: 16px;
    }
}

.page-presta-gift {
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-presta-plume {
    display: flex;
    justify-content: center;
}

// ===============================================
// PAGE PRESTATION
// ===============================================

.section-pack {
    background-color: $color-bcg1;
    padding: 16px 8px;
    @extend %flex-center-center;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    h3 {
        margin: 0 0 8px 0;
        text-align: center;
    }
    p {
        padding: 8px 16px;
    }
}

.section-pack--text {
    @extend %flex-center-center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    h2 {
        font-size: 2.5em;
    }
    h3 {
        margin: 16px 0;
        text-align: center;
    }
}

.section-pack--title {
    text-align: center;
    margin: 24px;
    width: 90%;
    max-width: 800px;
    @extend %boxShadow4;
    background-color: $color-bcg2;
    h1 {
        color: $color-white;
        margin: 0;
        font-size: 2.5em;
    }
}

.section-pack--packs {
    @extend %flex-center-center;
    flex-wrap: wrap;
}

// Packs
.pack {
    @extend %flex-center-center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: $color-white;
    margin: 8px;
    border-radius: 16px;
    overflow: hidden;
    @extend %boxShadow2;
    background-repeat: no-repeat;
    background-size: cover;
    a {
        text-decoration: none;
    }
    h3 {
        background-color: $color-action;
        text-align: center;
        color: $color-white;
        padding: 8px;
        border-radius: 16px;
        @extend %boxShadow2;
    }
}

.pack-nutrition {
    background-image: url("images/card-nutrition.jpg");
}
.pack-stress {
    background-image: url("images/card-stress.jpg");
}
.pack-sport {
    background-image: url("images/card-sport.jpg");
}
.pack-vitalite {
    background-image: url("images/card-vitalite.jpg");
    background-position: top;
}
.packs-massage {
    @extend %flex-center-center;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px;

    a {
        text-decoration: none;
    }
}

.box-pack-massage {
    width: 240px;
    height: 68px;
    background-color: $color-action;
    margin: 8px;
    padding: 4px 8px;
    border-radius: 16px;
    @extend %boxShadow2;
    h4,
    h2 {
        font-family: $police-title;
        text-align: center;
        color: $color-white;
        letter-spacing: 1px;
    }
    @media screen and (min-width: $break1) {
        width: 240px;
        height: 88px;
    }
}

// Pages explicatives

.page-massage-img {
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width: $break2) {
        height: 180px;
    }
    @media screen and (min-width: $break1) {
        height: 200px;
    }
    @media screen and (min-width: $break0) {
        height: 300px;
    }
}

.page-massage-img.calif {
    background-image: url("images/img-massage-infini.jpg");
}

.page-massage-img.infini {
    background-image: url("images/img-massage-californien.jpg");
}
.page-massage-img.kansu {
    background-image: url("images/img-massage-kansu.jpg");
    background-position: top;
}
