%boxShadowDark {
    border-radius: 16px;
    background: linear-gradient(145deg, #626c7f, #535b6b);
    box-shadow: 5px 5px 10px #3c424d, -3px -3px 5px #7c88a1;
  }

%burgerTirets {
    height: 4px;
    border-radius: 2px;
    background-color: $main-color;
  }

%btnActive {
    box-shadow: inset 4px 4px 4px #ababab, inset -4px -4px 4px #ffffff;
    transition: box-shadow 300ms linear;
  } 

%flexSpaceBetween {
    justify-content: space-between;
    align-items: center;
}