// FLEXBOX (@extend %...)

%flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

%flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-full-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

%flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-space-arround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
