// ===================================================
// FLEXBOX

%flex-full-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
%flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-space-arround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
// ===================================================


// ===================================================
 // POSITIONNEMENT RELATIVE / ABSOLU
  
%position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// ===================================================  


