// Couleurs
$color-bcg1: #d2f7fa;
$color-bcg2: #36b3a2;
$color-action: #7d3929; //#5E3023
$color-white: #fcfcff;
$color-black: #040f0f;
$color-blue: #32CBFF;

// Polices
$police-title: "Poppins", sans-serif;
$police-text: "Lora", serif;

// Tailles
$height-header: 64px;
