// Couleurs
$color-bcg1: #D2F7FA;
$color-bcg2: #36B3A2;
$color-action: #7D3929; //#5E3023
$color-white: #FCFCFF;
$color-black: #040F0F;
$color-orange: #FF9914;


// Polices
$police-title: 'Poppins', sans-serif;
$police-text: 'Lora', serif;
