footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $marge-normal;
  background-color: $color-bcg-fonce;
  color: $color-white;

    h3 {
      color: $color-white;
      margin: 16px;
    }
    address {
        padding: $marge-small 0;
        text-align: center;
        font-size: 1.2em;
    }
    p{
      margin: 0;
    }
     @media screen and (min-width: $break-point-tablet) {
         flex-direction: row;
         justify-content: space-around;
    }
}