header {
  height: $height-header;
  width: 100%;
  background: $color-bcg2;
  position: fixed;
  z-index: 4;
  @extend %flex-between-center;
  @extend %boxShadow4;
}

// ===========================
// Bouton burger
// ===========================
.header-burger {
  height: 48px;
  min-width: 48px;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  z-index: 110;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.burger-tiret {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  transition: transform 0.4s ease-in-out;
}

.burger-tiret__ligne {
  position: absolute;
  width: 100%;
  height: 8px;
  background: $color-action;
  border-radius: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(1) {
  top: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(2) {
  top: 20px;
}

.burger-tiret .burger-tiret__ligne:nth-child(3) {
  top: 36px;
}

// *** ANIMATIONS ***

.burger-tiret.burger-tiret--anim {
  transition: transform 0.4s 0.4s ease-in-out;
  transform: translateY(-50%) rotate(360deg);
}

.burger-tiret__ligne:nth-child(1),
.burger-tiret__ligne:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

.burger-tiret__ligne:nth-child(2) {
  opacity: 1;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(2) {
  opacity: 0;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}



// ===========================
// NOM ou Profession
// ===========================

.header-name,
.header-profession{
  font-size: 2em;
  color: $color-white;
  font-family: $police-title;
  white-space: nowrap;
  @media screen and (max-width: 350px) {
    font-size: 1.5em;
  }

}
.header-name {
  opacity: 1;
  transition: opacity 0.4s 0.5s ease-in-out;
}


// *** ANIMATION ***
.header-name.active-menu-deroulant {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.header-profession {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.header-profession.active-menu-deroulant {
  opacity: 1;
  transition: opacity 0.4s 0.5s ease-in-out;
}

// ===========================
.header-plume {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-image: url(/images/plume.svg);
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 800px) {
    display: none;
  }
}









// ===========================




.header-menu {
  display: none;
   @media screen and (min-width: 800px) {
    display: block;
  }
}

// // Affichage Joelle Corda

// // Affichage titre Naturopathe
// .header__profession {
//   opacity: 0;
//   transition: opacity 0.4s 0.2s ease-in-out;
// }






// .header-profession {
//   font-size: 3em;
//   color: $color-white;
//   font-family: $police-title;
//   z-index: 5;
//   display: none;

//   // @media screen and (max-width: 800px) {
//   //   display: block;
//   // }
// }

// // Navbar Desktop
// .header-menu li {
//   display: inline-block;
//   position: relative;
//   margin: 0 0.5em;
//   cursor: pointer;
// }

// li a {
//   color: $color-white;
//   text-decoration: none;
//   font-family: $police-title;
// }



// .header__nav__li::after {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 1px;
//   background-color: $color-white;
//   transform: scale(0);
//   transition: transform 0.3s ease-in-out;
// }
// .header__nav__li:hover::after {
//   transform: scale(1);
// }

// // Media query
// @media screen and (max-width: 800px) {
//   header {
//     justify-content: center;
//   }

//   .header__nav__ul {
//     display: none;
//   }
// }

// @media screen and (max-width: 400px) {
//   .header__title,
//   .header__profession {
//     font-size: 1.5em;
//   }
// }











