header {
  height: $height-header;
  width: 100%;
  background: $color-bcg2;
  position: fixed;
  z-index: 100;
  @extend %flex-between-center;
  @extend %boxShadow4;
  
  @media screen and (min-width: $break1) {
    justify-content: space-around;
  }
}

// ===========================
// Bouton burger
// ===========================
.header-burger {
  height: 48px;
  min-width: 48px;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  z-index: 110;

  @media screen and (min-width: $break1) {
    display: none;
  }
}

.burger-tiret {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none;
  transition: transform 0.4s ease-in-out;
}

.burger-tiret__ligne {
  position: absolute;
  width: 100%;
  height: 8px;
  background: $color-action;
  border-radius: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(1) {
  top: 4px;
}

.burger-tiret .burger-tiret__ligne:nth-child(2) {
  top: 20px;
}

.burger-tiret .burger-tiret__ligne:nth-child(3) {
  top: 36px;
}

// *** ANIMATIONS ***

.burger-tiret.burger-tiret--anim {
  transition: transform 0.4s 0.4s ease-in-out;
  transform: translateY(-50%) rotate(360deg);
}

.burger-tiret__ligne:nth-child(1),
.burger-tiret__ligne:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

.burger-tiret__ligne:nth-child(2) {
  opacity: 1;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(2) {
  opacity: 0;
  transition: opacity 0.1s 0.4s ease;
}

.burger-tiret.burger-tiret--anim .burger-tiret__ligne:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}



// ===========================
// NOM ou Profession
// ===========================

.header-name,
.header-profession{
  font-size: 2em;
  color: $color-white;
  font-family: $police-title;
  white-space: nowrap;
  z-index: 110;
  @media screen and (max-width: $break2) {
    font-size: 1.5em;
  }

}
.header-name {
  opacity: 1;
  transition: opacity 0.4s 0.5s ease-in-out;
}


// *** ANIMATION ***
.header-name.active-menu-deroulant {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.header-profession {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  @media screen and (min-width: $break1) {
    display: none;
  }
}
.header-profession.active-menu-deroulant {
  opacity: 1;
  transition: opacity 0.4s 0.5s ease-in-out;
}

// ===========================
// Logo plume
.header-plume,
.header-mobile-plume {
  background-image: url(/images/plume.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.header-plume {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  
  z-index: 110;

  @media screen and (min-width: $break1) {
    display: none;
  }
}


// ===========================
// MENU DEROULANT
// ===========================
.header-mobile {
  position: absolute;
  width: 100%;
  background: $color-bcg2;
  top: -500px;
  z-index: 50;
  @extend %flex-center-start;
  flex-direction: column;
  box-shadow: none;
  transition: all 1s 0.4s ease-out;
}

.header-mobile__avatar,
.header-mobile__liens {
  width: 100%;
  @extend %flex-center-center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.header-mobile__avatar__photo{
  background-image: url(/images/img-profil-joelle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  min-width: 120px;
  border-radius: 50%;
  margin: 8px 8px 16px 16px;
  @extend %boxShadow2;

  @media screen and (min-width: $break2) {
    height: 140px;
  min-width: 140px;
  }
}

.header-mobile__avatar__infos h3 {
  text-align: center;
  font-size: 2em;
  color: $color-white;
  font-family: $police-title;
  margin-right: 8px;
  letter-spacing: 3px;
  font-weight: normal;

  @media screen and (min-width: $break2) {
    font-size: 3em;
  }
}


.header-mobile__liens li {
  display: block;
  text-align: center;
  margin: 8px 0;
}

.header-mobile__liens li a {
  color: $color-white;
  text-decoration: none;
  font-family: $police-title;
  font-size: 1.5em;
}

.header-mobile-plume {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  width: 56px;
  height: 56px;
  margin: 24px auto;
}

// *** Animation ***

.header-mobile.active-menu-deroulant {
  transition: all 1s 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  transform: translateY(564px);
}

.header-mobile.active-menu-deroulant .header-mobile__avatar,
.header-mobile.active-menu-deroulant .header-mobile__liens,
.header-mobile.active-menu-deroulant .header-mobile-plume{
  opacity: 1;
  transition: opacity 0.4s 1.4s ease-in-out;
}

// ===========================
// MENU VERSION DESKTOP
// ===========================

.header-menu {
  display: none;

   @media screen and (min-width: $break1) {
    display: block;
  }
}

.header-menu li {
  display: inline-block;
  position: relative;
  margin: 0 4px;
  cursor: pointer;

  &::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $color-white;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  }
  &:hover::after {
    transform: scale(1);
  }
}

.header-menu a {
  color: $color-white;
  text-decoration: none;
  font-family: $police-title;
  font-size: 1em;
}











